<table id="annotation-table" class="display table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Feature</th>
            <th>Accession</th>
            <th>Annotation</th>
            <th>Length</th>
            <th>Public Notes</th>
            <th>Private Notes</th>
            <th>Flag</th>
            <th>Assigned User</th>
            <th>Download Annotation</th>
            <th>History</th>
            <th>View Results</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Feature</th>
            <th>Accession</th>
            <th>Annotation</th>
            <th>Length</th>
            <th>Public Notes</th>
            <th>Private Notes</th>
            <th>Flag</th>
            <th>Assigned User</th>
            <th>Download Annotation</th>
            <th>History</th>
            <th>View Results</th>
        </tr>
    </tfoot>
</table>
