{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%  static "genome/upload_phage.css" %}">
{% endblock %}

{% block head %}
<meta charset="UTF-8">
<title>MAS | Create Group</title>
{% endblock %}


{% block body %}
    <div class="block">
        <div id="upload-form-spacer">
            <h1> Create Group</h1>
            <form name="Form" id="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if upload_form.errors %}
                    {{ upload_form.errors }}
                {% endif %}
                    <p>Group Name: {{ upload_form.group_name }}</p>
		    <br>
		    <p>Notes:</p>
		    <p>{{ upload_form.notes }}</p>
                    <br>

                <button class="btn btn-success button" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <br>
    <div class="loader" style="display: none" id="load"></div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{% static "genome/upload_phage.js" %}" ></script>
{% endblock %}
