{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'genome/genome.css' %}">
{% endblock %}

{% block head %}
<meta charset="UTF-8">
<title>MAS | Annotation List</title>
{% endblock %}

{% block body %}
    <div class="block">
        <h1>{{ user }} Annotations</h1>
        <h4><a href="{% url 'genome:download_excel_annotations' %}">Download all annotations excel file</a></h4>
        <h4><a href="{% url 'genome:download_unannotated_annotations' %}">Download unannotated annotations excel file</a></h4>
        {% include 'genome/annotation_list_table.html' %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script type="application/javascript" src="{% static "genome/genome.js" %}" ></script>
    <script type="application/javascript" src="{% static "genome/annotation_table.js" %}" ></script>
{% endblock %}