{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%  static "genome/upload_phage.css" %}">
{% endblock %}

{% block head %}
<meta charset="UTF-8">
<title>MAS | Upload Phageome</title>
{% endblock %}


{% block body %}
    <div class="block">
        <div id="upload-form-spacer">
            <h1> Upload Phageome</h1>
            <form name="Form" id="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if upload_form.errors %}
                    {{ upload_form.errors }}
                {% endif %}
                    <p>Phageome Name: {{ upload_form.name }}</p>
		    {% if upload_form.errors.name.data.0.code == 1 %}<br>
                    <p>Continue with this name?: {{ upload_form.checkbox }}</p>
                {% endif %}
		<br>
                    <p>Phageome fasta file: {{ upload_form.upload }}</p>
		    <br>
		    <p>Groups:
			<tr><td><div style="overflow: auto; width: 200px; height: 100px; border: solid 1px black">
                    		{{ upload_form.group }}
		    	</div></td></tr>
			<br>
			<p>Notes:</p>
			<p>{{ upload_form.notes }}</p>
		<p>NOTE: This job will run in the background. It may take some time for the phageome to be available for analysis.</p>
                <button class="btn btn-success button" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <br>
    <div class="loader" style="display: none" id="load"></div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{% static "genome/upload_phage.js" %}" ></script>
{% endblock %}
